{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for offer in offers %}
        <div class="col-12 col-lg-6 offset-lg-3">
            <div id="offer-{{ offer.id }}" class="card bg-light border-light shadow" style="margin-bottom: 2rem" lang="{{ offer.language }}">
                <h5 class="card-header">
                    {% if offer.ignored %}
                        <span class="badge badge-danger">Ignorée</span>
                    {% else %}
                        <i data-offer-id="{{ offer.id }}" class="star fa-star {% if offer.starred %}fas{% else %}far{% endif %}"></i>
                    {% endif %}

                    <span class="badge badge-primary">Blocket</span>
                    <a href="{{ offer.url }}">{{ offer.title }}</a>

                    {% if not offer.ignored %}
                    <form action="{{ path('ignore_offer', {'id': offer.id}) }}" method="POST" class="d-inline">
                        <button type="submit" class="close" aria-label="Ignorer" title="Ignorer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                    {% endif %}
                </h5>

                <div class="card-body">
                    <p class="card-text">
                        <img class="float-left img-thumbnail" style="max-height: 12rem; margin-right: 1rem" src="{{ offer.thumb|default("https://dummyimage.com/180x110/fff/aaa&text=N/A") }}">
                        {{ offer.description|nl2br }}
                    </p>
                </div>

                <div class="card-body">
                    <span class="badge badge-info">{{ offer.price }} €</span>
                    <span class="badge badge-info">{{ offer.area }} m²</span>
                    <span class="badge badge-info">{{ offer.rooms }} pièces</span>

                    {% if offer.furnished %}
                        <span class="badge badge-success">Meublé</span>
                    {% endif %}

                    {% if offer.includingCharges %}
                        <span class="badge badge-secondary">Charges comprises</span>
                    {% else %}
                        <span class="badge badge-warning">Charges NON comprises</span>
                    {% endif %}
                </div>

                {% if offer.comment %}
                <div class="card-body">
                    <p class="alert alert-info m-0 comment">{{ offer.comment }}</p>
                </div>
                {% endif %}



                <div class="card-footer text-muted d-flex align-items-center">
                    <div class="flex-grow-1">{{ offer.createdAt|date("d/m/Y à H:i") }}</div>

                    {% if not offer.ignored %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal" data-offer-id="{{ offer.id }}" data-comment-uri="{{ path('comment_offer', {'id': offer.id}) }}">Commenter</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <form method="post" id="comment-form" action="">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="commentModalLabel">Commentaire</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" name="comment"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button id="send-comment" type="submit" class="btn btn-primary">Commenter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
