<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Mon Appart{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ asset('build/main.css') }}">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="margin-bottom: 1rem">
        <a class="navbar-brand" href="{{ path('list_offers') }}">Mon Appart</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('show_search') }}">Critères</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_ignored_offers') }}">Offres ignorées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('edit_config') }}">Configuration</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>

        {% block body %}{% endblock %}
    </div>
</body>
</html>
