{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<h3>Recherche</h3>

<div class="row">
    <div class="large-12 columns">
        <ul class="inline-list">
            {% for name, value in search_criteria %}
            <li class="label round secondary criteria">{{ ('criteria.'~name)|trans({'%value%': value|join(', ')}, 'AppBundle') }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<h3>{{ offers|length }} annonces</h3>

{% for offer in offers %}
<div class="row offer" data-offer-id="{{ offer.id }}">
    <div class="large-4 columns">
        {% if offer.pictures|length > 0 %}
            <ul data-orbit data-options="animation_speed:400;timer:false;">
                {% for picture in offer.pictures %}
                <li><img src="{{ picture }}" /></li>
                {% endfor %}
            </ul>
        {% else %}
            <img src="http://placehold.it/640x480" />
        {% endif %}
    </div>

    <div class="large-8 columns">
        <div class="clearfix">
            <h5 class="left"><a href="{{ offer.url }}">{{ offer.title }}</a></h5>
            <span class="right action-links">
                <a class="comment"><i class="fa fa-pencil-square-o"></i></a>
                <a class="star-action">
                    <i class="fa {% if offer.starred %}fa-star{% else %}fa-star-o{% endif %}"></i>
                </a>

                <a class="view-action"><i class="fa fa-times"></i></a>
            </span>
        </div>

        <p>
            {{ offer.rooms }} pièces - {{ offer.area }} m² - {{ offer.price }} € - {{ offer.city }} - {{ offer.zipCode }}<br />

            <span class="label secondary">{{ offer.origin|capitalize }}</span>
            {% if offer.includesFurnitures %}<span class="label info">Meublé</span>{% endif %}
            {% if not offer.includingCharges is null %}
                {% if offer.includingCharges %}<span class="label success">Charge comprises</span>{% else %}<span class="label alert">Hors charges</span>{% endif %}
            {% endif %}
        </p>

        {% if offer.comment %}
        <p class="alert-box info radius">{{ offer.comment|nl2br }}</p>
        {% endif %}

        <p class="panel radius">
            {{ offer.description|raw }}
        </p>
    </div>

    <hr />
</div>
{% else %}
<p>Bah non.</p>
{% endfor %}

{% include 'AppBundle:Default:_commentModal.html.twig' %}
{% endblock %}
