{% extends 'AppBundle::base.html.twig' %}

{% block body %}

{% for offer in offers %}
<div class="row" style="margin-bottom: 10px;">
    <div class="large-4 columns">
        <a class="th [radius]" href="{{ offer.url }}">
            <img src="{{ offer.thumb }}" />
        </a>
    </div>

    <div class="large-8 columns">
        <div class="clearfix">
            <h5 class="left"><a href="{{ offer.url }}">{{ offer.title }}</a></h5>
            <span class="right"><a class="close" href="{{ path('flag_offer_as_viewed', {'id': offer.id}) }}">×</a></span>
        </div>

        <p>
            {{ offer.rooms }} pièces - {{ offer.area }} m² - {{ offer.price }} € - {{ offer.city }} - {{ offer.zipCode }}<br />
            {{ offer.pictures|length }} photos supplémentaires<br />

            <span class="label secondary">{{ offer.origin|capitalize }}</span>
            {% if offer.includesFurnitures %}<span class="label info">Meublé</span>{% endif %}
            {% if not offer.includingCharges is null %}
                {% if offer.includingCharges %}<span class="label success">Charge incluses</span>{% else %}<span class="label alert">Hors charges</span>{% endif %}
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}
{% endblock %}
