{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<h3>{{ offers|length }} annonces</h3>

{% for offer in offers %}
<div class="row" style="margin-bottom: 10px;">
    <div class="large-4 columns">
        {% if offer.pictures|length > 0 %}
            <ul class="example-orbit" data-orbit  data-options="animation_speed:400;timer:false;">
                {% for picture in offer.pictures %}
                <li><img src="{{ picture }}" /></li>
                {% endfor %}
            </ul>
        {% else %}
            <img src="http://placehold.it/640x480" />
        {% endif %}
    </div>

    <div class="large-8 columns">
        <div class="clearfix">
            <h5 class="left"><a href="{{ offer.url }}">{{ offer.title }}</a></h5>
            <span class="right">
                {% if offer.starred %}
                    <a style="font-weight: bold; font-size: 110%;" class="close" href="{{ path('unstar', {'id': offer.id}) }}"><i class="fa fa-star"></i></a>
                {% else %}
                    <a style="font-weight: bold; font-size: 110%;" class="close" href="{{ path('star', {'id': offer.id}) }}"><i class="fa fa-star-o"></i></a>
                {% endif %}

                <a style="font-weight: bold; font-size: 110%;" class="close" href="{{ path('flag_offer_as_viewed', {'id': offer.id}) }}">×</a>
            </span>
        </div>

        <p>
            {{ offer.rooms }} pièces - {{ offer.area }} m² - {{ offer.price }} € - {{ offer.city }} - {{ offer.zipCode }}<br />

            <span class="label secondary">{{ offer.origin|capitalize }}</span>
            {% if offer.includesFurnitures %}<span class="label info">Meublé</span>{% endif %}
            {% if not offer.includingCharges is null %}
                {% if offer.includingCharges %}<span class="label success">Charge comprises</span>{% else %}<span class="label alert">Hors charges</span>{% endif %}
            {% endif %}
        </p>

        <p class="panel">
            {{ offer.description|raw }}
        </p>
    </div>

    <hr />
</div>
{% else %}
<p>Bah non.</p>
{% endfor %}
{% endblock %}
